/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
	;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 100%;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
	margin-top: 4px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

	
}
nav li {
	padding: 0 25px;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: black;
}

nav li a:active {
	color: black;
	font-weight: bold;
}

nav img {
	width: 19px;
}

#bandeau {
	display: flex;
	flex-direction: row;
	background-color: black;
	height: 59px;
	width: 100%;
	color: white;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.button-blanc {	
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: black;
	background-color: white;
	padding: 9px 20px;
	border-radius: 20px;
	margin: 10px;
	border: none;
	cursor: pointer;

}
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	/*flex: 1;*/
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 70px;
}

/*
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}*/


#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

#portfolio .modifier {
	position: relative;
    top: -35px;
    right: -700px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3em auto;
}

#filtres button {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	border: solid 2px #1D6154;
	padding: 9px 20px;
	border-radius: 20px;
	margin: 10px;
}

#filtres button:active {
	background-color: #1D6154;
	color: #FFFFFF;
}

figcaption {
	margin-top: 5px;
}

#contact, #login {
	width: 30%;
	margin: auto;
}
#contact > * {
	text-align: center;
}

#contact h2, #login h2, #login a{
	margin: 20px;
	text-align: center;
}
#contact form {
	text-align: left;
	margin: 35px 0 45px 0;
	display: flex;
	flex-direction: column;
}


input, textarea, select {
	border: none;
	margin: 0.5em 0 2em 0;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);	
	font-size: 1.2em;
}

#name, #email, #password, #title, #category  {
	height: 50px;
	font-family: 'work sans';
	color: #444444;
	font-size: 14px;
	padding: 15px;
}

.btn-vert {
	color: white;		
	background-color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	min-width: 180px;
	border-radius: 60px ;
    border: none;
	margin : auto ;
}

.btn-vert:hover {
	background-color: #0E2F28;

}

#valid-form[disabled]{
	background-color: #A7A7A7;
}

.modal-wrapper .btn-vert {
	width: 237px;
	margin: 38px 0 23px 0;
}

footer {
	display: flex;
	background-color: white;
	width: 100%;
	margin: 0;
	height: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	height: 60px;	
}

#main-login {
	height:900px;
}

#login {
	margin-top: 150px;
}
#login form {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

a:visited{
	color: black;
}

.modifier {
	display: flex;
	margin: 15px 0;
}

.fa-pen-to-square {
	margin-right: 7px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

.modal-wrapper {
	overflow: auto;
	background-color: white;
    padding: 40px 90px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-wrapper h3 {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
}

.modal-wrapper a {
	font-family: Syne;
	font-size: 14px;
	font-weight: 400;
	color: #D65353;
	text-decoration: none;
} 

#galerie-modal {
	display: grid;
	grid-template-columns: 78px 78px 78px 78px 78px;
	gap: 10px;
    padding: 30px 0 55px 0;
	border-bottom: solid 1px #B3B3B3;
}

#galerie-modal figure {
	height: 125px;
}

#galerie-modal img {
	width: 78px;
}

#galerie-modal i {
	color: white;
	background-color: black;
	font-size: 9px;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	text-justify: center;
	text-align: center;
	padding: 4px;
	cursor: pointer;
}

.modal-wrapper .fa-xmark {
	color: black;
	font-size: 16px;
	position: relative;
	left: 270px;
	bottom: 10px;
	cursor: pointer;
}

.modal-wrapper .fa-trash-can {
	position: relative;
    left: 56px;
    top: 23px;
}

.modal-wrapper .fa-arrows-up-down-left-right {
	position: relative;
	left: 35px;
	bottom: 119px;
}

.form-hidden .fa-arrow-left-long {
	position: relative;
	right: 50px;
	bottom: 25px;
	cursor: pointer;
}

.gallery-hidden {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#preview-image {
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;	
	margin: 36px 0 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview-input {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 20px;

}

#preview-image i {
	color: #B9C5CC;
	font-size: 50px;
}

#preview-image button {
	background-color: #CBD6DC;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	color: #306685;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	border: none;
}

#preview-image p {
	font-size: 10px;
	color: #444444;
}

#title, #category {
	width: 420px;
}

.nouvelle-image {
	height: 169px;
}

#form-modal {
	padding-bottom: 15px;
    border-bottom: solid 1px #B3B3B3;
	width: 420px;
}

#form-modal label {
	color: #3D3D3D;
}

.form-hidden form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error-message p {
	color: red;
}




